{{ define "js"}}
	<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"></script>
	<script>
        $(document).ready(function () {
            $('#blocks').DataTable({
                processing: true,
                serverSide: true,
                ordering: false,
                searching: false,
                ajax: '/account/{{.PublicKey}}/data_blocks',
                pagingType: 'full',
                columnDefs: [
                    {
                        targets: 0,
                        data: '0',
                        render: function (data, type, row, meta) {
                            if (data) {
                                return '<i class="fas fa-check text-success" data-toggle="tooltip" data-placement="top" title="This block is part of the canonical chain"></i>'
                            } else {
                                return '<i class="fas fa-times text-danger" data-toggle="tooltip" data-placement="top" title="This block is not part of the canonical chain and has been orphaned"></i>'
                            }
                        }
                    },
                    {
                        targets: 1,
                        data: '1',
                        render: function (data, type, row, meta) {
                            return '<a href="/block/' + row[6] + '">' + data + '</a>'
                        }
                    },
                    {
                        targets: 3,
                        data: '3',
                        render: function (data, type, row, meta) {
                            return '<a href="/block/' + row[6] + '">' + data + '</a>'
                        }
                    },
                    {
                        targets: 4,
                        data: '4',
                        render: function (data, type, row, meta) {
                            return moment.unix(data).fromNow()
                        }
                    },
                    {
                        targets: 5,
                        data: '5',
                        render: function (data, type, row, meta) {
                            return '<a href="/account/' + data + '">' + data.substr(0, 8) + '...</a>'
                        }
                    },
                    {
                        targets: 6,
                        data: '6',
                        render: function (data, type, row, meta) {
                            return '<a href="/block/' + data + '">' + data.substr(0, 8) + '...</a>'
                        }
                    }
                ]
            })
        })

        $(document).ready(function () {
            $('#user-jobs').DataTable({
                processing: true,
                serverSide: true,
                ordering: false,
                searching: false,
                ajax: '/account/{{.PublicKey}}/data_txs',
                pagingType: 'full',
                columnDefs: [
                    {
                        targets: 0,
                        data: '0',
                        render: function (data, type, row, meta) {
                            return '<a href="/tx/' + data + '">' + data.substr(0, 16) + '...</a>'
                        }
                    }, {
                        targets: 1,
                        data: '1',
                        render: function (data, type, row, meta) {
                            return moment.unix(data).fromNow()
                        }
                    }, {
                        targets: 2,
                        data: '2',
                        render: function (data, type, row, meta) {
                            return '<a href="/block/' + row[8] + '">' + data + '</a>'
                        }
                    }, {
                        targets: 3,
                        data: '3',
                        render: function (data, type, row, meta) {
                            return '<a href="/account/' + data + '">' + data.substr(0, 16) + '...</a>'
                        }
                    }, {
                        targets: 4,
                        data: '4',
                        render: function (data, type, row, meta) {
                            return '<a href="/account/' + data + '">' + data.substr(0, 16) + '...</a>'
                        }
                    }
                ]
            })
        })

        $(document).ready(function () {
            $('#snark-jobs').DataTable({
                processing: true,
                serverSide: true,
                ordering: false,
                searching: false,
                ajax: '/account/{{.PublicKey}}/data_snarkjobs',
                pagingType: 'full',
                columnDefs: [
                    {
                        targets: 1,
                        data: '1',
                        render: function (data, type, row, meta) {
                            return '<a href="/account/' + data + '">' + data.substr(0, 16) + '...</a>'
                        }
                    }, {
                        targets: 3,
                        data: '3',
                        render: function (data, type, row, meta) {
                            return moment.unix(data).fromNow()
                        }
                    }, {
                        targets: 4,
                        data: '4',
                        render: function (data, type, row, meta) {
                            return '<a href="/block/' + row[5] + '">' + data + '</a>'
                        }
                    }
                ]
            })
        })
	</script>
{{end}}

{{ define "css"}}
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.css"/>
{{end}}

{{ define "css"}}
{{end}}

{{ define "content"}}
	<div class="mb-3">
		<div class="d-md-flex py-2 justify-content-md-between">
			<h1 class="h4 mb-1 mb-md-0">
				<span class="ml-1 mr-1"><i class="fas fa-cube mr-2"></i>Account {{printf "%.32v" .PublicKey}}...</span>
			</h1>
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb font-size-1 mb-0" style="padding:0; background-color:transparent;">
					<li class="breadcrumb-item"><a href="/" title="Home">Home</a></li>
					<li class="breadcrumb-item"><a href="/accounts" title="Blocks">Accounts</a></li>
					<li class="breadcrumb-item active" aria-current="page">Account details</li>
				</ol>
			</nav>
		</div>
	</div>
	<div class="card">
		<div class="card-body">
			<div class="row border-bottom p-1">
				<div class="col-md-12">
					<ul class="nav nav-pills justify-content-center" id="pills-tab" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" id="pills-overview-tab" data-toggle="pill" href="#pills-overview" role="tab" aria-controls="pills-overview" aria-selected="true">Overview</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="pills-blocks-tab" data-toggle="pill" href="#pills-blocks" role="tab" aria-controls="pills-blocks" aria-selected="false">Blocks <span class="badge bg-secondary text-white">{{.BlocksProposed}}</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="pills-user-jobs-tab" data-toggle="pill" href="#pills-user-jobs" role="tab" aria-controls="pills-user-jobs" aria-selected="false">Transactions <span class="badge bg-warning text-white mr-1">{{.TxSent}}</span><span class="badge bg-success text-white">{{.TxReceived}}</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="pills-snark-jobs-tab" data-toggle="pill" href="#pills-snark-jobs" role="tab" aria-controls="pills-snark-jobs" aria-selected="false">Snark Jobs <span class="badge bg-secondary text-white">{{.SnarkJobs}}</span></a>
						</li>
					</ul>
				</div>
			</div>

			<div class="tab-content" id="pills-tabContent">
				<div class="tab-pane fade show active" id="pills-overview" role="tabpanel" aria-labelledby="pills-overview-tab">
					<div class="row border-bottom p-3">
						<div class="col-md-2">PublicKey:</div>
						<div class="col-md-10">{{.PublicKey}}</div>
					</div>
					<div class="row border-bottom p-3">
						<div class="col-md-2">Balance:</div>
						<div class="col-md-10">{{.Balance}}</div>
					</div>
					<div class="row border-bottom p-3">
						<div class="col-md-2">Nonce:</div>
						<div class="col-md-10">{{.Nonce}}</div>
					</div>
					<div class="row border-bottom p-3">
						<div class="col-md-2">Added to Ledger:</div>
						<div class="col-md-10"><span aria-local-date="{{.FirstSeen.Unix}}">{{.FirstSeen}}</span></div>
					</div>
					<div class="row border-bottom p-3">
						<div class="col-md-2">Most Recent Activity:</div>
						<div class="col-md-10"><span aria-local-date="{{.LastSeen.Unix}}">{{.LastSeen}}</span> (<span aria-local-date="{{.LastSeen.Unix}}" aria-local-date-format="FROMNOW"></span>)</div>
					</div>
					<div class="row border-bottom p-3">
						<div class="col-md-2">Receipt Chain Hash:</div>
						<div class="col-md-10 text-monospace text-break">{{.ReceiptChainHash}}</div>
					</div>
					<div class="row border-bottom p-3">
						<div class="col-md-2">Delegate:</div>
						<div class="col-md-10 text-break">
                            {{ if eq .Delegate .PublicKey}}
								<span>Not delegating</span>
                            {{else}}
								<a class="text-monospace" href="/account/{{.Delegate}}">{{.Delegate}}</a>
                            {{end}}
						</div>
					</div>
					<div class="row border-bottom p-3">
						<div class="col-md-2">Tx Sent:</div>
						<div class="col-md-10">{{.TxSent}}</div>
					</div>
					<div class="row border-bottom p-3">
						<div class="col-md-2">Tx Received:</div>
						<div class="col-md-10">{{.TxReceived}}</div>
					</div>
					<div class="row border-bottom p-3">
						<div class="col-md-2">Blocks Produced:</div>
						<div class="col-md-10">{{.BlocksProposed}}</div>
					</div>
					<div class="row p-3">
						<div class="col-md-2">Snark Jobs:</div>
						<div class="col-md-10">{{.SnarkJobs}}</div>
					</div>
				</div>
				<div class="tab-pane fade" id="pills-blocks" role="tabpanel" aria-labelledby="pills-blocks">
					<div class="table-responsive mt-1">
						<table class="table table-sm" id="blocks" width="100%">
							<thead>
							<tr>
								<th></th>
								<th>Height</th>
								<th>Epoch</th>
								<th>Slot</th>
								<th>Time</th>
								<th>Creator</th>
								<th>State Hash</th>
								<th>User Jobs</th>
								<th>Snark Jobs</th>
								<th>Reward</th>
							</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				</div>
				<div class="tab-pane fade" id="pills-user-jobs" role="tabpanel" aria-labelledby="pills-votes-tab">
					<div class="table-responsive mt-1">
						<table class="table table-sm" id="user-jobs" width="100%">
							<thead>
							<tr>
								<th>ID</th>
								<th>Time</th>
								<th>Block</th>
								<th>From</th>
								<th>To</th>
								<th>Amount</th>
								<th>Fee</th>
								<th>Delegation</th>
							</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>
				<div class="tab-pane fade" id="pills-snark-jobs" role="tabpanel" aria-labelledby="pills-snark-jobs-tab">
					<div class="table-responsive">
						<table class="table table-sm" id="snark-jobs" width="100%">
							<thead>
							<tr>
								<th>Job IDs</th>
								<th>Snark Worker</th>
								<th>Fee</th>
								<th>Time</th>
								<th>Block</th>
							</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
{{end}}