{{ define "js"}}
	<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/datamaps/0.5.9/datamaps.all.min.js" integrity="sha256-Lo7ue3BsvPrQ6MABnTPBDPysEwggoUeJiDKKAeKiDFY=" crossorigin="anonymous"></script>

	<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
	<script src="/js/chartHelper.js"></script>
	<script>
        const arrayToObject = (array, keyField) =>
            array.reduce((obj, item) => {
                if (!obj[item[keyField]]) {
                    obj[item[keyField]] = []
                }
                obj[item[keyField]].push({
                    x: item.ts,
                    y: item.value
                })
                return obj
            }, {})

        const data = {{.Statistics}}
        const chartData = arrayToObject(data, "indicator")

		const charts = []
        charts.push(drawChart([{name: "Daily Blocks", data: chartData["BLOCK_COUNT"]}], "Blocks Produced", "#chart-blocks", function (val) {
            return val;
        }))

        charts.push(drawChart([{name: "Daily Txs", data: chartData["TX_COUNT"]}], "Tx Processed", "#chart-txs", function (val) {
            return val;
        }))

        charts.push(drawChart([{name: "Total Supply", data: chartData["TOTAL_SUPPLY"]}], "Total Supply", "#chart-total-supply", function (val) {
            return numbro(val).format({thousandSeparated: true});
        }))

        charts.push(drawChart([{name: "Block Producers", data: chartData["BLOCK_PRODUCERS"]}], "Active Block Producers", "#chart-block-producers", function (val) {
            return val;
        }))

        charts.push(drawChart([{name: "New Accounts", data: chartData["NEW_ACCOUNTS"]}], "New Accounts", "#chart-new-accounts", function (val) {
            return val;
        }))

        charts.push(drawChart([{name: "Snark Workers", data: chartData["SNARK_WORKERS"]}], "Snark Workers", "#chart-snark-workers", function (val) {
            return val;
        }))

        charts.push(drawChart([{name: "Snark Fees", data: chartData["SNARK_FEES"]}], "Snark Fees", "#chart-snark-fees", function (val) {
            return numbro(val).format({thousandSeparated: true});
        }))

        charts.push(drawChart([
            {name: "25% Percentile", data: chartData["SNARK_FEES_P25"]},
            {name: "50% Percentile", data: chartData["SNARK_FEES_P50"]},
            {name: "95% Percentile", data: chartData["SNARK_FEES_P95"]},
            {name: "99% Percentile", data: chartData["SNARK_FEES_P99"]},
            ], "Snark Fees Distribution", "#chart-snark-fees-distribution", function (val) {
            return numbro(val).format({thousandSeparated: true});
        }))

        charts.push(drawChart([{name: "Daily Peers Seen", data: chartData["PEERS"]}], "Daily Peers Seen", "#chart-peers", function (val) {
            return val;
        }))

        const peers = {{.Peers}}
        console.log(peers)
        var map = new Datamap({
        	element: document.getElementById('map-peers'),
            scope: 'world',
            geographyConfig: {
                popupOnHover: false,
                highlightOnHover: false
            },
            fills: {
                defaultFill: '#ABDDA4',
                PEER: 'blue',
            }
        });


        var bubbles = []
        for (var geoKey in peers) {
            bubbles.push({
                peerCount: peers[geoKey].PeerCount,
                country: peers[geoKey].Geo.CountryLong,
                city: peers[geoKey].Geo.City,
                radius:  peers[geoKey].PeerCount * 1.5,
                latitude: peers[geoKey].Geo.Latitude,
                longitude: peers[geoKey].Geo.Longitude,
                fillKey: 'PEER',
            })
		}
        map.bubbles(bubbles, {
            popupTemplate: function(geo, data) {
                return '<div class="hoverinfo">' + data.country + ' - ' + data.city + ': ' + data.peerCount + ' peers</div>'
            }
        });

        $('#toggleSwitch').on('change', function(e) {
            charts.forEach((chart) => {
                chart.updateOptions({
                    chart: {
                        background: e.target.checked ? '' : 'rgb(38, 35, 39)' ,
                    },
                    theme: {
                        mode: e.target.checked ? 'light' : 'dark',
                        palette: 'palette6'
                    }
                })
			})
        })
	</script>
{{end}}

{{ define "css"}}
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
		  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
		  crossorigin=""/>
{{end}}

{{ define "content"}}
	<div class="mb-3">
		<div class="d-md-flex py-2 justify-content-md-between">
			<h1 class="h4 mb-1 mb-md-0">
				<span class="ml-1 mr-1"><i class="fas fa-chart-bar mr-2"></i>Coda Network Chart</span>
			</h1>
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb font-size-1 mb-0" style="padding:0; background-color:transparent;">
					<li class="breadcrumb-item"><a href="/" title="Home">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">Charts</li>
				</ol>
			</nav>
		</div>
	</div>
	<div class="card">
		<div class="card-body">
			<div id="chart-blocks" class="border-bottom mb-2"></div>
			<div id="chart-peers" class="border-bottom mb-2"></div>da
			<div id="chart-txs" class="border-bottom mb-2"></div>
			<div id="chart-total-supply" class="border-bottom mb-2"></div>
			<div id="chart-block-producers" class="border-bottom mb-2"></div>
			<div id="chart-new-accounts" class="border-bottom mb-2"></div>
			<div id="chart-snark-workers" class="border-bottom mb-2"></div>
			<div id="chart-snark-fees" class="border-bottom mb-2"></div>
			<div id="chart-snark-fees-distribution" class="border-bottom mb-2"></div>
			<span class="ml-2" style="font-size: 14px; font-weight: 900; font-family: Helvetica, Arial, sans-serif; opacity: 1;">Peer Map</span>
			<div id="map-peers" class="border-bottom mb-2" style="position: relative; margin: 0 auto; width: 750px; height: 500px;"></div>
			<small class="text-muted">This site includes IP2Location LITE data available from <a href="https://lite.ip2location.com">https://lite.ip2location.com</a>.</small>
		</div>
	</div>
{{end}}