{{ define "js"}}
	<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
	<script src="/js/chartHelper.js"></script>
	<script>
        const arrayToObject = (array, keyField) =>
            array.reduce((obj, item) => {
                if (!obj[item[keyField]]) {
                    obj[item[keyField]] = []
                }
                obj[item[keyField]].push({
                    x: item.ts,
                    y: item.value
                })
                return obj
            }, {})

        const data = {{.}}
        const chartData = arrayToObject(data, "indicator")

        drawChart([{name: "Daily Blocks", data: chartData["BLOCK_COUNT"]}], "Blocks Produced", "#chart-blocks", function (val) {
            return val;
        })
        drawChart([{name: "Daily Txs", data: chartData["TX_COUNT"]}], "Tx Processed", "#chart-txs", function (val) {
            return val;
        })
        drawChart([{name: "Total Supply", data: chartData["TOTAL_SUPPLY"]}], "Total Supply", "#chart-total-supply", function (val) {
            return numbro(val).format({thousandSeparated: true});
        })
        drawChart([{name: "Block Producers", data: chartData["BLOCK_PRODUCERS"]}], "Active Block Producers", "#chart-block-producers", function (val) {
            return val;
        })
        drawChart([{name: "New Accounts", data: chartData["NEW_ACCOUNTS"]}], "New Accounts", "#chart-new-accounts", function (val) {
            return val;
        })
        drawChart([{name: "Snark Workers", data: chartData["SNARK_WORKERS"]}], "Snark Workers", "#chart-snark-workers", function (val) {
            return val;
        })
        drawChart([{name: "Snark Fees", data: chartData["SNARK_FEES"]}], "Snark Fees", "#chart-snark-fees", function (val) {
            return numbro(val).format({thousandSeparated: true});
        })
        drawChart([{name: "Total Staked", data: chartData["TOTAL_STAKED"]}], "Total Staked", "#chart-total-staked", function (val) {
            return numbro(val).format({thousandSeparated: true});
        })
        drawChart([{name: "Peers Seen", data: chartData["PEERS"]}], "Peers Seen", "#chart-peers", function (val) {
            return val;
        })
	</script>
{{end}}

{{ define "css"}}
{{end}}

{{ define "content"}}
	<div class="mb-3">
		<div class="d-md-flex py-2 justify-content-md-between">
			<h1 class="h4 mb-1 mb-md-0">
				<span class="ml-1 mr-1"><i class="fas fa-chart-bar mr-2"></i>Coda Network Chart</span>
			</h1>
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb font-size-1 mb-0" style="padding:0; background-color:transparent;">
					<li class="breadcrumb-item"><a href="/" title="Home">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">Charts</li>
				</ol>
			</nav>
		</div>
	</div>
	<div class="card">
		<div class="card-body">
			<div id="chart-blocks" class="border-bottom mb-2"></div>
			<div id="chart-txs" class="border-bottom mb-2"></div>
			<div id="chart-total-supply" class="border-bottom mb-2"></div>
			<div id="chart-block-producers" class="border-bottom mb-2"></div>
			<div id="chart-new-accounts" class="border-bottom mb-2"></div>
			<div id="chart-snark-workers" class="border-bottom mb-2"></div>
			<div id="chart-snark-fees" class="border-bottom mb-2"></div>
			<div id="chart-total-staked" class="border-bottom mb-2"></div>
			<div id="chart-peers"></div>
		</div>
	</div>
{{end}}